@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

:root {
  --font-vazir: "Vazir";
}

@font-face {
  font-family: "Vazir";
  src: url("/fonts/Vazir-Thin.woff2");
  font-weight: 200;
}

@font-face {
  font-family: "Vazir";
  src: url("/fonts/Vazir-Light.woff2");
  font-weight: 300;
}

@font-face {
  font-family: "Vazir";
  src: url("/fonts/Vazir.woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Vazir";
  src: url("/fonts/Vazir-Medium.woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Vazir";
  src: url("/fonts/Vazir-Bold.woff2");
  font-weight: 700;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-vazir: var(--font-vazir);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
button {
  text-decoration: none;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Vazir";
}
